# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log
*.xml
*.html
*.tmp

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Environment variables
.env
*.env

# Miscellaneous
*.DS_Store
*.swp
*.swo
*.tmp

*.xlsx